    body {
    font-family: 'EB Garamond', sans-serif;
    font-size: 1.4em;
    background-color: rgb(200, 200, 200);
}

.title {
    font-size: 1.3em;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-indent: 5%;
}

tr {
    font-size: 0.8em;